# Kuba Maliszewski
scraper
webapp/wikipedia_webscraping/html_cache/*.html

# Mateusz Petkiewicz
# These will be generated
webapp/wikipedia_dumps/data/category_links_reversed_min.json
webapp/wikipedia_dumps/data/title_to_id_min.json

# All
__pycache__
postgres_data
venv
.idea

# Unity
/WikiRoomsProjectUnity/[Ll]ibrary/
/WikiRoomsProjectUnity/[Tt]emp/
/WikiRoomsProjectUnity/[Oo]bj/
/WikiRoomsProjectUnity/[Bb]uild/
/WikiRoomsProjectUnity/[Bb]uilds/
/WikiRoomsProjectUnity/[Ll]ogs/
/WikiRoomsProjectUnity/[Uu]ser[Ss]ettings/
*.csproj
*.sln
*.vscode
*.pidb.meta
*.pdb.meta
*.mdb.meta
stable-diffusion-webui
*.safetensors
WikiRoomsProjectUnity/Assets/BackendConfig.asset
WikiRoomsProjectUnity/Assets/BackendConfig.asset.meta
